.contacts {
    min-height: 525px;
    padding: 20px 85px 80px 71px;
    position: relative;
    &__wrapper {
        display: grid;
        grid-template-columns: minmax(410px, 529px) minmax(auto, 360px);
        column-gap: 100px;
        grid-template-rows: minmax(525px, auto);
    }
    &__info {
        display: flex;
        flex-direction: column;
        padding-top: 50px;
    }
    &__phone {
        text-decoration: none;
        color: #000000;
        font-family: "Montserrat";
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        margin-top: 57px;
        display: flex;
        
        &::before {
            content: "";
            display: block;
            background: url('../icons/phone-call.svg') center (center / cover) no-repeat;
            width: 26px;
            height: 26px;
            margin-right: 26px;
        }
    }
    &__email {
        color: #080808;
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 20px;
        display: flex;
        &::before {
            content: "";
            display: block;
            background: url('../icons/email.svg') center (center / cover) no-repeat;
            width: 26px;
            height: 26px;
            margin-right: 26px;
        }
    }
    &__address {
        color: #080808;
        font-family: "Montserrat";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 39px;
        display: flex;
        &::before {
            content: "";
            display: block;
            background: url('../icons/maps-and-flags.svg') center (center / cover) no-repeat;
            width: 26px;
            height: 26px;
            margin-right: 26px;
        }
    }
    &__social {
        display: flex;
        margin-top: 38px;
        &-link {
            width: 65px;
            height: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            margin-right: 20px;
            background-image: linear-gradient(to right, #cf7171 0%, #cd4e4d 100%);
            transition: .4s all;
            &:hover {
                transform: scale(1.08);
                transition: .4s all;
            }
            img {
                width: 36px;
                height: 36px;
            }
        }
    }

    &__form {
        position: relative;
        padding: 33px 64px 40px 64px;
        display: flex;
        align-items: center;
        flex-direction: column;
        max-width: 529px;
        min-height: 525px;
        box-shadow: 0 19px 70px 3px rgba(0, 0, 0, 0.11);
        border-radius: 30px;
        background-color: #ffffff;
        &::before {
            content: "";
            background: url('../../img/5-rombs.png') center (center / cover) no-repeat;
            display: block;
            width: 447px;
            height: 505px;
            position: absolute;
            bottom: 170px;
            left: -165px;
            z-index: -1;
        }
        input {
            width: 100%;
            height: 66px;
            border-radius: 33px;
            border: 1px solid #d7d7d7;
            color: #8d8d8d;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            padding: 28px 28px 28px 36px;
            margin-bottom: 6px;
        }
        textarea {
            width: 100%;
            height: 142px;
            border-radius: 20px;
            border: 1px solid #d7d7d7;
            color: #8d8d8d;
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            padding: 27px 28px 28px 36px;
            resize: none;
            margin-bottom: 13px;
        }
        label {
            font-family: "Montserrat";
            color: red;
        }
    }
}
